# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.gitattributes

.classpath

.project
gradlew
gradlew.bat
.git
.idea
.settings
.vscode
gradle
build

